header {
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.header-wrapper {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo-brand {
        img {
            width: 138px;
            height: 33px;
        }
    }
    .search-form {
        .search {
            width: 100%;
            position: relative;
            display: flex;
        }

        .searchTerm {
            border: 1px solid #eee;
            width: 400px;
            border-radius: 25px !important;
            padding: 8px 15px;
            border-radius: 5px 0 0 5px;
            outline: none;
            font-size: 14px;
            &:focus {
                border: 1px solid #f26c4f;
            }
        }

        .searchButton {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            text-align: center;
            color: #aaa;
            cursor: pointer;
            font-size: 20px;
            border: none;
            padding-right: 15px;
            &:hover {
                color: #f26c4f;
            }
        }
    }
    .nav-user-action {
        img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
        }

        .cus-dropdown {
            button {
                background-color: transparent;
                border: none;
                color: #333;
                font-size: 14px;
                &:focus {
                    box-shadow: none;
                }
            }

            a {
                font-weight: 400;
                font-size: 14px;
            }
        }

        .btn-login,
        .btn-register {
            text-transform: uppercase;
        }

        .btn-register {
            border: 1 px solid #f26c4f;
            padding: 9px 10px;
            border-radius: 3px;
            display: inline-block;
            color: #ffffff;
            background: #f26c50;
        }
    }
}
