.nav {
  background-color: white;
  //color: rgb(204, 44, 44) !important;
  margin-top: 20px;

  a.btn {
    i {
      margin-right: 10px;
      display: inline-block;
      color: black !important;
    }
    padding: 0;
    color: black !important;
  }
}
